/* 
    COMP 333: Software Engineering
    Ada Qin (aqin@wesleyan.edu)
*/
/*  Brief introduction: I supposed the basic theme is red/balck style
    simillar to Wesleyan offical website
    black for text (sometimes white due to background)
    brown for header
*/
/*
    font from Google at https://fonts.google.com/
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap");

h1{
    color:brown;
}

p {
    color: black;
}

.button-container {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    gap: 10px;
}

.navbar {
    background-color: brown;
}

.navbar ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    background-color: black;
    text-align: center;
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    height: 60px;
}

.navbar li {
    border: 1px solid red;
    /* 
          Show the navbar elements next to each other instead of on top of each 
          other. 
    */
    padding: 10px;
    line-height: 38px; /* originally, 40 px*/
}
  
.navbar a {
    color: #fff;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px; /* Adjust width as needed */
}

input {
    margin-bottom: 10px; /* Adds space between inputs */
    padding: 8px;
    font-size: 16px;
}